* {
    padding: 0;
    margin: 0;
  }

  .container {
    box-sizing: border-box;
    background-color: black;
    min-height: 100vh;
  }

  header {
    height: 55px;
    background-color: #bbb;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 75px;
    height: 40px;
    background-color: #ff0044;
    border-radius: 10px;
    display: flex;
    text-align: center;
  }

  .navbar {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .navItens {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .flex-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto;
    max-width: 1000px;
    gap: 20px;

  }

  .item {
    flex: 1 1 300px;
    max-width: 300px;
    height: 250px;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer {
    width: 100%;
    height: 45px;
    background-color: #bbb;
  }